/* Константы */
:root {
  --popup-bg-color: #E8E8E8;
  /*--measure-difference-color: #C0C0C0;*/ 
  --measure-difference-color: yellow;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: ptserifweb,Georgia,serif;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
#map {
    width: 100%;
    height: 100%;
	background-color: white !important;
	/*background-image: url(clouds.webp);
	background-size: 100px;
	background-repeat: repeat;*/
}
/* Кастомизация лифлетовских стилей */
.leaflet-marker-icon:hover {
    transition: top 125ms;
    top: 2px
}
.leaflet-popup-content {
	width: fit-content !important;
	margin: 0px !important;
}
.leaflet-control-measure, .leaflet-control-menu {
    background-position: 50% !important;
    background-repeat: no-repeat;
	overflow: hidden;
}
.leaflet-control-measure {
	background-size: 80%;
	transform: rotate(90deg);
	background-image: url(svg/measure.svg) !important;
}
.leaflet-control-menu {
	background-size: 70%;
	background-image: url(svg/menu.svg) !important;
}
.leaflet-bar a, .leaflet-bar a:hover, .leaflet-touch .leaflet-bar a {
	width: 35px;
	height: 35px;
}
.leaflet-bar a:hover {
    background-color: #f5c97b;
    color: #000
}
.leaflet-popup-content-wrapper {
	overflow: hidden;
	padding: 0px;
	border-radius: 6px;
}
.leaflet-popup-close-button {
	color: black !important;
	font-weight: bold !important;
	font-size: 18px !important;
	background-color: white !important;
	border-radius: 0 6px 0 6px !important;
}
.leaflet-popup-close-button span {
	display: flex;
	justify-content: center;
}
.leaflet-measure-tooltip-total {
	color: white !important;
	text-shadow: 2px 0 0 #000,
				-2px 0 0 #000,
				0 2px 0 #000,
				0 -2px 0 #000,
				1px 1px #000,
				-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000 !important;
}
.leaflet-measure-tooltip-difference {
	color: var(--measure-difference-color) !important;
}
/* Оригинальные стили */
.flag-popup {
	height: 20px;
	border: 1px solid black;
	float:left;
}
.black-link a {
	color: black;
}
.country-link {
	margin-left: 3px;
	white-space: nowrap;
}
.attribution-flag{
	height: 8px;
	width: auto;
	margin: auto;
}
.popup-label, .popup-data {
	display: table-cell;
	white-space: nowrap;
}
.popup-label {
	font-size: 14px;
	font-weight: bold;
}
.popup-data	{
	font-size: 14px;
}
.popup-data, .country-name {
	padding-left: 2px;
}
.country-name {
	font-size: 14px;
	font-weight: bold;
}
.npc-player {
	color: #959595;
}
.player {
	font-weight: bold;
}
.divisionLabel, .zeroLabel {
	color: white;
	font-weight: bold;
	text-shadow: 1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;
}
.content {
	width: fit-content;
}
.content-head {
	width: 100vw;
	background-color: var(--popup-bg-color);
	display: table-cell;
	vertical-align: middle;
	min-height: 30px;
}
.content-head table {
	width: 100%;
}
.content-head table td {
	vertical-align: center;
}
.content-head, .content-body {
	padding: 7px;
}
.flag-td {
	width: 0;
	min-width: fit-content;
}
.country-name-td {
	padding-right: 20px;
}
.measure-line {
	filter: 
		drop-shadow(-1px -1px 0px rgba(0,0,0,0.4)) 
		drop-shadow(1px -1px 0px rgba(0,0,0,0.4)) 
		drop-shadow(1px 1px 0px rgba(0,0,0,0.4))
		drop-shadow(-1px 1px 0px rgba(0,0,0,0.4))
}
#mapmenu {
	width: 300px;
	background-color: white;
	height: 100%;
	z-index: 401;
	position: fixed;
	display: none;
}
.mapmenu-head{
	width: 100%;
	height: 70px;
}
.mapmenu-body {
	width: 100%;
	overflow: scroll;
	height: 570px;
}