html,body {
    margin: 0;
    padding: 0;
    font-family: ptserifweb,Georgia,serif;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2
}
#map {
    width: 100%;
    height: 100%;
}
.leaflet-marker-icon:hover {
    transition: top 125ms;
    top: 2px
}
.leaflet-popup-content {
	width: auto;
	margin: 0px !important;
}
.leaflet-control-measure {
    background-position: 50%!important;
    background-repeat: no-repeat;
	background-image: url(svg/measure.svg) !important;
	overflow: hidden;
    background-size: 80%;
}
.leaflet-bar a, .leaflet-bar a:hover, .leaflet-touch .leaflet-bar a {
	width: 35px;
	height: 35px;
}
.leaflet-bar a:hover {
    background-color: #f5c97b;
    color: #000
}
.flag-popup {
	height: 20px;
	border: 1px solid black;
	float:left;
}
.black-link a {
	color: black;
}
.country-link {
	margin-left: 3px;
	white-space: nowrap;
}
.attribution-flag{
	height: 8px;
	width: auto;
	margin: auto;
}
h3, h4 {
	margin: 0px;
}
.popup-label, .popup-data {
	display: table-cell;
	white-space: nowrap;
}
.popup-label {
	font-size: 14px;
	font-weight: bold;
}
.popup-data	{
	font-size: 14px;
}
.popup-data, .country-name {
	padding-left: 2px;
}
.npc-player {
	color: #959595;
}
.player {
	font-weight: bold;
}
.divisionLabel, .zeroLabel {
	color: white;
	font-weight: bold;
	text-shadow: 1px 0 1px #000, 
				0 1px 1px #000, 
				-1px 0 1px #000, 
				0 -1px 1px #000;
}