html,body {
    margin: 0;
    padding: 0;
    font-family: ptserifweb,Georgia,serif;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2
}
#map {
    width: 100%;
    height: 100%;
}
.leaflet-marker-icon:hover {
    transition: top 125ms;
    top: 2px
}

.leaflet-popup-content {
	width: auto;
	margin: 15px !important;
}
.flag-popup {
	height: 20px;
	border: 1px solid black;
	float:left;
}
.country-link a {
	color: black;
}
.country-link {
	margin-left: 3px;
	white-space: nowrap;
}
.attribution-flag{
	height: 8px;
	width: auto;
	margin: auto;
}
.popup-info{
	white-space: nowrap;
}
td h3 {
	margin: 0px;
}
.flag{
	width: fit-content;
}
.left-div, .right-div {
	display: table-cell;
	white-space: nowrap;
}